:root {
    --progress-width: 0%;
}

html, body {
    background-color: #424242;
    color: #fff;
    overflow: hidden;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none !important;
}

#visual {
    height: calc(100vh - 110px);
}

#control {
    background-color: #1b1b1b;
    height: 100px;

    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

.control-wrap {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.control-wrap:first-child {
    padding: 0 20px;
}

.control {
    justify-content: center;
}

.config {
    justify-content: flex-end;
}

aside {
    position: fixed;
    height: calc(100vh - 100px);
    overflow: auto;
    top: 0;
    background-color: #303030;
    width: 340px;
    z-index: 1000;
    transition: transform .5s ease-in-out;
}

.aside-left {
    left: -340px;
}

.aside-right {
    right: -340px;
}

.aside-right.active {
    transform: translateX(-340px);
}

.aside-left.active {
    transform: translateX(340px);
}

aside .list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

aside .list li {
    padding: 1em 5px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.25);
    border-left: 2px solid transparent;
    transition: .5s;
    cursor: pointer;
}

aside .list input[type=search] {
    padding: 1em 5px;
    border: none;
    border-bottom: 1px solid #16a085;
    background-color: transparent;
    width: 100%;
    color: #fff;
}

aside .list li.active {
    border-left: 2px solid #ff0089;
}

#playlist {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#playlist .playlist-wrap {
    overflow: auto;
    overflow-x: hidden;
}

#seekbar {
    height: 10px;
    width: 100vw;
    background-color: #0b0b0b;
    cursor: pointer;
}

#seekbar .progress {
    width: var(--progress-width);
    height: 100%;
    background-color: #16a085;
    transition: .2s;
    pointer-events: none;
}