.btn {
    background-color: transparent;
    color: #fff;
    font-size: 64px;
    vertical-align: middle;
    display: flex;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.btn--small {
    padding: 0 10px;
    font-size: 48px;
}

.btn--borderd {
    border: 1px solid #ff0089;
    margin: .2em;
    padding: .5em;
}

.btn--smallest {
    padding: 0 10px;
    font-size: 24px;
}

.btn:hover {
    color: #ff0089;
}

.btn.active {
    color: #8900ff
}

.group .spacer {
    max-width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #16a085;
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}

.group-inner {
    padding: 1em;
}

.group .item {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group .item input {
    width: 50%;
}