input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #424242;
    cursor: pointer;
    margin-top: -4px;
}

input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #424242;
    border: none;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    cursor: pointer;
    background: #006dff;
    transition: .5s;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ff0089;
    border-radius: 10px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background: #3071a9;
}

input[type=range]:focus::-moz-range-track {
    background: #ff0089;
    border-radius: 10px;
}

input[type=file] {
    display: none;
}